:root {
  --blue: #2e3b56;
  --red: #d72127;
  --yellow: #d57f2e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "bilo", sans-serif;
  font-weight: 700;
  font-style: normal;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  overflow-y: scroll;
}

section div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

section > div {
  padding: 100px 10px;
}

a {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--blue);
  padding: 10px;
  color: var(--blue);
  text-decoration: none;
  gap: 20px;
  align-items: center;
  border-radius: 0px;
  transition-duration: 200ms;
  font-family: "quasimoda", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a:hover {
  background: var(--blue);
  color: var(--red);
}

a i {
  font-size: 1.3em;
}
